<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/main.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="Dinh_Angelica_Loops"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/Users/NenaH77/Dropbox/FFM-O_Dinh_Angelica_1307_01/Submitted%20Assignments/Loop%20Assignment/bin-debug/Dinh_Angelica_Loops.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dinh_Angelica_Loops"/>
<listEntry value="/Dinh_Angelica_Loops/src/main.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
